<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://songsearch.louisrmurphy.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://songsearch.louisrmurphy.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>louism817-001-subsite6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\louism817-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5014.myWindowsHosting.com;Initial Catalog=DB_9BC1C9_songsearch;User ID=DB_9BC1C9_songsearch_admin;Password=SongsSD_9bc9!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="_1._14._2015_AlbumSearch.Data.ApplicationDbContext, 1.14.2015_AlbumSearch.Data" MigrationConfiguration="_1._14._2015_AlbumSearch.Data.Migrations.Configuration, 1.14.2015_AlbumSearch.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5014.myWindowsHosting.com;Initial Catalog=DB_9BC1C9_songsearch;User ID=DB_9BC1C9_songsearch_admin;Password=SongsSD_9bc9!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>