<div class="row clearfix" ng-controller="SearchController">
    <div class="col-xs-12" style="margin: 15px">
        <div class="col-xs-6">
            <table class="table table-bordered table-striped table-condensed">
                <tr><th>Music Genre</th></tr>
                <tr ng-repeat="genre in genres">
                    <td>
                        <span ng-hide="editing">
                            {{genre.Name}}
                        </span>
                        <input type="text" ng-model="genre.Name" ng-hide="!editing" />
                        <div style="float:right;">                            
                            <button ng-click="editing=true" ng-hide="editing">Edit/Delete</button>
                            <button ng-click="editing=false; deleteGenre(genre);" ng-hide="!editing">Delete</button>
                            <button ng-click="editing=false; updateGenre(genre);" ng-hide="!editing">Save</button>
                            <button ng-click="editing=false" ng-hide="!editing">Cancel</button>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-xs-6">
            <form class="form">
                <div class="form-group">
                    <input type="text" ng-model="newGenre.Name" placeholder="Enter New Genre" class="form-control"/>
                </div>  
                <button ng-click="addGenre(newGenre)" class="btn btn-default">Submit New Genre</button>
                              
            </form>
            
        </div>
    </div>
</div>




